<div class="py-8 row">
	<div class="col-sm-1">
		<img src="index1.jpeg" alt="catch 22">
	</div>
	<div class="col">
		<a class="font-size-lg" href="Articles/catch-22">Catch 22</a>
		<p class="text-muted">By  Joseph Heller</p>
	</div>
		
</div>

<div class="py-8 row">
	<div class="col-sm-1">
		<img src="index.jpeg" alt="The Girl with The Gifts">
	</div>
	<div class="col">
		<a class="font-size-lg" href="Articles/the-girl-with-the-gifts">The Girl with The Gifts</a>
		<p class="text-muted">By MR Carey</p>
	</div>
		
</div>


<div class="py-8 row">
	<div class="col-sm-1">
		<img src="index3.jpeg" alt="Rework">
	</div>
	<div class="col">
		<a class="font-size-lg" href="Articles/rework">Rework</a>
		<p class="text-muted">By DHH and jason fried</p>
	</div>
		
</div>
<!-- this is a sample default list template -->
